
	.header{position: fixed; width: 100%; top: 0; height: 80px; left: 0; background: blue; z-index: 3000;}
	.foto_usuario{float:right; width: 70px; border-radius: 50%; display:block;}
	.busqueda_usuarios{position: fixed; height: calc(100% - 80px); width: 30%; left: 0; top: 80px; border: 1px solid;}
	.solicitudes{float: right; display:block;width: 76px; margin: 20px 0 0 0;}
	.icono_solicitud{width: 50%;border-radius: 50%; background: white;}
	/*.solicitudes:hover{background: gray; border-radius: 50%; height: 80px; margin: 0; padding: 0; margin: 20;}*/
	.numero_notificacion{padding: 0; margin: 0; height: 50px;width: 50px; background: red; border-radius: 50%; color: white;font-size: 100%;}
	#contactos_usuario{position: absolute; width: 70%; left: 30%; border: 1px solid; height: calc(100% - 120px); top:130px; z-index: 1;
		overflow: auto;}
	#detalle_solicitudes{position: fixed; width: 200px; height: 300px; border: 1px solid; right: 14%;top: 80px; overflow:auto; display: none;  background: white;}
	#detalle_mensajes{position: fixed; width: 200px; height: 300px; border: 1px solid; right: 8%;top: 80px; overflow:auto; display: none; background: white;}

	.buscador{padding: 10px; float: center; width: 90%;}
	.busqueda_contactos{position: fixed;top:80px; z-index: 100; width: 30%; left: 50%;}
	.cierra_sesion_banner{float: right; width: 50px; margin: 20px 0 0 0;}
	.imagen_cierra_sesion{width: 100%; border-radius: 50%;}
	.mensaje_enviado{background: gray; float: right; width: 70%; padding: 1px; border-radius: 10px;}
	.mensaje_recibido{background: orange; float: left; width: 70%; padding: 5px; border-radius: 10px; margin: 5px;}

	.lista_mini{width: 98%; color:blue; background: white;padding: 2px; height: 80px;}

	.imagen_tarjeta{float:left; height: 100%; border-radius: 50%; background: white;}
	.txt_pqno{font-size: 50%;}

	.usuario_tarjeta{width: 100%; position: relative;height: 20%; border: 1px solid; background: blue; vertical-align: center; text-align: center;
	 color: white;}
	.add_usuario{float: right; height: 100%;}

	.nombre_usuario_header{color: white; font-size: 30px; float: right; margin: 20px;}

	.activo{border:5px solid green;}
	
	textarea {resize: vertical;}
	input[type=text]{padding: 10px;}
	input[type=password]{padding: 10px;}
	button{padding: 10px;}

	.logueo{border: 1px solid; position: absolute; width: 40%; height: 50%; left: 30%; top: 25%; align-items: center;}

	.registro{border: 1px solid; position: absolute; width: 60%; height: 70%; left: 20%; top: 15%;}

	
	.ventana_mensaje{position: relative; bottom:0; border: 1px solid blue; width: 20%; height: 50%; border-radius: 10px; float: left; z-index: 2000;
		margin: 25.5% 1% 0 0;}
	.contenido_chat{position: relative; overflow: auto;width: 100%;height: 80%; background: white;}
	.enc_msg{top:0;height: 40px;width: 100%;background: blue; border-radius: 9px; color:white;}
	.escritura_chat{position: absolute;bottom: 0;width: 100%;}
	.escritura{width: 90%;}
	.enviar_msg{width: 8%; padding: 0; border-radius:50%; }
	.foto_contacto_peq{position: relative;width: 38px; height: 38px; border-radius: 50%; background: white; float: left; }
	.boton_mini{width: 20px; height: 20px; padding: 2px; margin:5px;border-radius: 50%; float: right; text-align: center;}
	.amarillo{background: orange;}
	.rojo{background: red; z-index: 100;}
	.verde{background: green;}
	