
<form class="logueo" action="php/ajax/validaLogueo.php" method="POST">

	<input type="text" name="login" placeholder="Usuario"><br>

	<input type="password" name="pass" placeholder="Contraseña"><br>

	<button type="submit">Entrar</button><br><br>

	<a href="html/registro.html">Regristrarse</a>
</form>
