Registro:
<form class="registro" action="../php/ajax/insertaUsuario.php"  method="post" enctype="multipart/form-data">

	<input type="text" name="nombre" placeholder="Usuario"><br>

	<input type="text" name="apodo" placeholder="Alias"><br>
	<input type="text" name="login" placeholder="Login"><br>

	<input type="password" name="pass" placeholder="Contraseña"><br>
	<input type="file" name="foto"><br>

	<button type="submit">Registrarse</button>

</form>